.sc-ion-modal-md-h:first-of-type{
    background: #001922;
}
html.ios ion-modal .ion-page{
    background: #001922;
}
ion-content > .InscriptionModalText{
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    margin: 10px 25px 0 25px;
}
.positionCloseCrossModalInscription{
    justify-content: flex-end;
}
.textAlignCenterTitle{
    text-align: center;
}
.positionParentListNavigationModal{
    margin-left: 20% ;
}
.positionParentListNavigationModal > li{
    margin-left: 10px;
}
.inscriptionModalText{
    text-align:center;
}
.inscriptionModalForm{
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 2px;
}
.inscriptionModalForm > ion-item{
    border-radius: 10px;
    margin-top: 20px;
    background: #705a62;
}
.inscriptionModalForm > .textPolitiqueConfidantial > p {
    font-size: 11px;
    text-align: center;
    margin: 20px;
}
.invisible{
    display: none;
}
.connexionModalForm{
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 2px;
}
.connexionModalForm > ion-item{
    border-radius: 10px;
    margin-top: 20px;
    background: #705a62;
}
.connexionModalForm > .textPasswordForgotten {
    color : #E04980 ;
}
.passwordForgottenModalForm {
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 2px;
    
}
.passwordForgottenModalForm > ion-item{
    border-radius: 10px;
    margin-top: 20px;
    background: #705a62;
}
.passwordForgottenModalForm > .textProblemWithEmail {
    color : #E04980 ;  
}
.ButtonBackModalPasswordForgotten{
  width: 150px;
  align-items: flex-end;
  text-align: end;
}
.tellUsMoreAboutAccount {
    position: absolute;
    left: 50%;
    transform: translateX(-30%);
    width: 100%;

}
.imgModalWelcome{
    margin-top: 10%;
}
.relativeParentPosition{
    position: relative;
}
.childForm{
    position : absolute ;
    top: 50%; 
    transform: translateY(-85%);  
}

