/******************************************************
                Profils
********************************************************/
.sectionEnfantProfil{
    margin-top: 50px;
}


/******************************************************
                Routes Profils
********************************************************/
.categorySectionprofil{
    margin-top: 80px;
}
.navBarProfil{
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 4rem;
    padding: 0 15px;
    background-color: #00151D;
}
.positionParentListNavigationProfil{
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font-size: 12px;
    text-transform: uppercase;
    padding-inline-start: 0;
    width: 100%;
}
.navBarProfil > .positionParentListNavigationProfil > a > li > ion-text{
    color: white;
    font-weight: bold;
}

/******************************************************
                About Profils
********************************************************/
#firstCardAboutProfilBiographie > section > ion-card-subtitle {
    text-transform: uppercase;
    margin: 15px 15px 0 15px;
    color: #E04980;
    font-weight: bold;
}

.firstParentSection > .positionParentElementCardAboutProfil{
    display: flex;
    flex-wrap: wrap;
    padding-left: 0;
    padding-right: 0;
}
    .firstParentSection > .positionParentElementCardAboutProfil > ion-item {
        width: 50%;
        display: flex;
        flex-direction: row;
        align-items: center;
    }
        .firstParentSection > .positionParentElementCardAboutProfil > ion-item > ion-label {
            display: flex !important;
            position: relative;
            left: 10px;
            top: 2px;
        }


.secondParentSection > .positionParentElementCardAboutProfil{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
    .secondParentSection > .positionParentElementCardAboutProfil > ion-item > ion-icon {
        font-size: 25px;
        color: #00B0F0;
    }


.thirdParentSection > .positionParentElementCardAboutProfil > .texteBiographyAboutProfil {
    text-align: justify;
}

/******************************************************
                Images Profils
********************************************************/
.bck-orange {
    background: #ff9800;
}

.bck-red {
    background: #f4511e;
}

.bck-green {
    background: #afb42b;
}

.bck-yellow {
    background: #ffc400;
}

.bck-blue {
    background: #64b5f6;
}

.bck-pink {
    background: #f48fb1;
}

.md-layout .mbsc-scv-item {
    color: #fff;
    font-weight: bold;
    text-align: center;
}



.md-fixed .mbsc-scv-item {
    height: 80px;
    margin: 0 10px;
}
